{% import "_forms/macros/forms" as f %}

{% block css %}
  <style>
    form {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 100%;
      margin: auto;
    }

    h4 {
      text-align: center;
      color: #333;
      font-size: 24px;
      margin-bottom: 20px;
    }

    label {
      font-size: 14px;
      font-weight: bold;
      color: #555;
      margin-bottom: 6px;
      display: block;
    }

    select, button {
      font-size: 16px;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 4px;
      border: 1px solid #ccc;
      width: 100%;
      background-color: #fff;
      color: #333;
    }

    button {
      width: 100%;
      padding: 0.75rem;
      background-color: var(--secondary-red);
      color: white;
      margin-top: 1rem;
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-transform: uppercase;
      font-family: var(--Ambit-font);
      margin-top: 1rem;
    }

    button:hover {
      background-color: #b71c1c;
    }

    .participant-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin-bottom: 10px;
      background-color: #f9f9f9;
      border-radius: 4px;
      border: 1px solid #ddd;
    }

    .participant-row div {
      flex: 1;
      margin-right: 5px;
    }

    .participant-row div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

    }

    .participant-row a {
      text-decoration: none;
      color: var(--secondary-red);
      font-size: 14px;
      cursor: pointer;
    }

    .participant-row a:hover {
      text-decoration: underline;
    }

    #add-participant {
      width: 100%;
      padding: 0.75rem;
      background-color: var(--secondary-red);
      color: white;
      margin-top: 1rem;
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-transform: uppercase;
      font-family: var(--Ambit-font);
      margin-top: 1rem;
    }

    #add-participant:hover {
      background-color: #b71c1c;
    }

    .error-list {
      color: #d9534f;
      font-size: 14px;
      margin-top: -10px;
      margin-bottom: 20px;
    }

  </style>
{% endblock %}

{% set entry = entry %}

{# if not logged in, redirect to login page #}
{% if not currentUser %}
  {% redirect '/authentication/login' %}
{% else %}
<form class="ugly-css" method="post" accept-charset="UTF-8">
  {{ csrfInput() }}
  {{ actionInput('entries/save-entry') }}
  {{ redirectInput(url('play-dates/' ~ teamType ~ '/' ~ entry.id)) }}

  {{ hiddenInput('entryId', entry.id) }}
  {{ hiddenInput('enabled', true) }}

  <h4 for="p_participants">Do you want to participate?</h4>
  {# p_participants is a users field #}
  {% set userHasParticipated = false %}
  <div id="p_participants">
    {% for block in entry.p_participants.all() %}
      {% set p_user = block.p_user.one() %}

      <div class="participant-row">
        {{ hiddenInput('fields[p_participants][sortOrder][]', block.id) }}
        {% namespace "fields[p_participants][entries][#{block.id}]" %}
            {{ hiddenInput('type', block.type) }}

            {# Velden van het blok: #}
            {{ hiddenInput('fields[p_user][]', p_user.id) }}
            {{ hiddenInput('fields[p_status]', block.p_status) }}
        {% endnamespace %}
        <div>
          <label>Deelnemer</label>
          <select disabled>
              {% for user in craft.users.all() %}
                  <option disabled value="{{ user.id }}" {% if p_user.id == user.id %}selected{% endif %}>
                      {{ user.fullname }}
                  </option>
              {% endfor %}
          </select>
        </div>
        <div>
          <label>Status</label>
          <select disabled>
              <option value="pending" {% if block.p_status == 'pending' %}selected{% endif %}>Pending</option>
              <option value="selected" {% if block.p_status == 'selected' %}selected{% endif %}>Selected</option>
              <option value="reserve" {% if block.p_status == 'reserve' %}selected{% endif %}>Reserve</option>
              <option value="notSelected" {% if block.p_status == 'notSelected' %}selected{% endif %}>Not Selected</option>
          </select>
        </div>
        <div>
          {% if p_user.id == currentUser.id %}
            {% set userHasParticipated = true %}
            {% if block.p_status == 'pending' %}
              <a href="#todo">Remove</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  
  {% if not userHasParticipated %}
    <button type="button" id="add-participant">Participate</button>
    <button type="submit">Confirm</button>
  {% endif %}
  {{ f.errorList(entry.getErrors('p_participants')) }}

</form>
{% endif %}

<script>
        document.getElementById('add-participant').addEventListener('click', function() {
        const container = document.getElementById('p_participants');
        const newBlockId = 'new:' + (container.children.length); // Unieke ID voor nieuwe blokken
        const blockHtml = `
            <div class="participant-row">
                <input type="hidden" name="fields[p_participants][sortOrder][]" value="${newBlockId}">
                {% namespace "fields[p_participants][entries][${newBlockId}]" %}
                    {{ hiddenInput('type', "p_participants") }}
                    {{ hiddenInput('fields[p_user][]', currentUser.id) }}
                    {{ hiddenInput('fields[p_status]', 'pending') }}
                {% endnamespace %}
                <div> 
                  <select disabled>
                      {% for user in craft.users.all() %}
                          <option 
                            {% if user.id == currentUser.id %}
                              selected
                            {% endif %}
                            value="{{ user.id }}">
                              {{ user.fullname }}
                          </option>
                      {% endfor %}
                  </select>
                </div>
                <div>
                  <select disabled>
                      <option value="pending">Pending</option>
                  </select>
                </div>
            </div>
        `;
        container.insertAdjacentHTML('beforeend', blockHtml);
        // remove button
        document.querySelector('#add-participant').style.display = 'none';
    });
</script>