{% extends '_shared/_layout.twig' %}

{% block css %}
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            background-color: var(--white);
        }

        h2 {
            font-family: var(--Ambit-font);
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 400px;
            width: 100%;
            background: var(--white);
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        label {
            display: none;
        }

        input[type="text"] {
            font-family: var(--Poppins-font);
            width: 100%;
            padding: 0.75rem;
            margin-bottom: 1rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f0f0f0;
            font-size: 1rem;
        }

        button {
            width: 100%;
            padding: 0.75rem;
            background-color: var(--secondary-red);
            color: white;
            font-size: 1rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-transform: uppercase;
            font-family: var(--Ambit-font);
            margin-top: 1rem;
        }

        button:hover {
            background-color: #b71c1c;
        }

        p {
            margin-top: -1rem;
            text-align: center;
        }

        a {
            color: #000;
            text-decoration: none;
            font-weight: bold;
            font-family: var(--Poppins-font);
            font-size: 12px;
        }

        a:hover {
            text-decoration: underline;
        }

        hr {
            margin: 1.5rem 0;
            width: 100%;
            border: none;
            border-top: 2px solid var(--primary-black);
        }
    </style>
{% endblock %}

{% block main %}
<form method="post" accept-charset="UTF-8">
    {{ csrfInput() }}
    {{ actionInput('users/send-password-reset-email') }}

    <h2>Reset Password</h2>

    <label for="loginName">Enter your Username or email:</label>
    {{ input('text', 'loginName', loginName ?? craft.app.user.rememberedUsername, {
        placeholder: 'Enter your Username or email',
        id: 'loginName',
        autocomplete: 'username',
    }) }}

    {% if errors is defined %}
        {{ ul(errors, {class: 'errors'}) }}
    {% endif %}

    <button>Send Reset Link</button>

    <hr>
    <p><a href="{{ url('login') }}">Back to login</a></p>
</form>
{% endblock %}
